<div>


    <div class="container" style="margin-top: 40px">
        <h3>Add a new announcement</h3>
        <form>
            <label for="title">Title:</label><br>
            <input type="text" id="title" name="title"><br>
            <label for="anote">Note:</label><br>
            <input type="text" id="anote" name="anote"><br>
            <label for="start">Start Date/Time:</label><br>
            <input type="text" id="start" name="start"><br>
            <label for="end">End Date/Time:</label><br>
            <input type="text" id="end" name="end"><br>
            <input type="submit" value="Submit">
        </form>


    </div>
</div>
