<div>


    <div class="container" style="margin-top: 40px">
        <h3>Add new list items</h3>
        <form>
            <label for="title">Name:</label><br>
            <input type="text" id="title" name="title"><br>
            <label for="anote">Amount:</label><br>
            <input type="text" id="anote" name="anote"><br>
            <label for="start">Suggested Store:</label><br>
            <input type="text" id="start" name="start"><br>
            <label for="end">Notes:</label><br>
            <input type="text" id="end" name="end"><br>
            <input type="submit" value="Submit">
        </form>

    </div>
</div>